// bower:scss
// endbower

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    background: #fff;
    font-family: sans-serif;
    color: #333;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.farbfeld {
  height: 200px;
}

.combo-container {
  display: table;
  width: 100%;
}
.combination {
  display: table-cell;
  width: 20%;
}